BasedOnStyle: Chromium
ColumnLimit: 120
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
AccessModifierOffset: -4
SortIncludes: false
AllowShortIfStatementsOnASingleLine : true